<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Upload | ComicBuzz</title>
	<!-- core CSS -->
    <link rel="stylesheet" href="/css/dropzone.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css1/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/prettyPhoto.css" rel="stylesheet">
    <link href="/css/jquery.tagsinput.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">  
     
    <script type="text/javascript" src="/js/dropzone.js"></script> 
    <script type="text/javascript">
    Dropzone.options.myDropzone = 
    {
        
         // The configuration we've talked about above
  autoProcessQueue: false,
  uploadMultiple: true,
  parallelUploads: 100,
  maxFiles: 100,
        
        init: function()
        {
            var myDropzone = this;

        // for Dropzone to process the queue (instead of default form behavior):
        document.getElementById("submit-all").addEventListener("click", function(e) {
               // Make sure that the form isn't actually being sent.
      e.preventDefault();
      e.stopPropagation();
      myDropzone.processQueue();
        });

    }
    }; 
    </script>

    <link rel="shortcut icon" href="/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>

   <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>778 867 5309</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>

   
              <form name="searchForm" action="/comics/search" method="post">
             <p><input type="search" name="content" placeholder="Search">
            <input type="submit" value="Search"></p>
            </form>  
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <!--<form>
                                <input type="text" placeholder="Search..." required>
                                <input type="button" value="Search">
                    </form>-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/topcomics">Recent Comics</a></li>
                        
                        <!--<li><a href="/tagsearch">Tags</a></li>-->
                        
                        
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/usercomics">My Comics</a></li>                               
                                <li><a href="/settings">Account Settings</a></li>
                            </ul>
                        </li>-->
                        
                        <li><a href="/userlist">Userlist</a></li>                        
                        
                        {% if (req.isAuthenticated()) %}
                        <li class="{% if (isActive('/users/' + req.user.id )) %}active{% endif %}">
                            <a href="{{ '/users/' + req.user.id }}" title="{{ req.user.username }}">Hello, {{req.user.username}}</a>
                        </li>
                        <li><a href="/upload">Upload</a></li>
                        <li>
                            <a href="/logout" title="logout">Logout</a>
                        </li>
                        {% else %}
                        <li class="{% if (isActive('/login')) %}active{% endif %}">
                            <a href="/login" title="Login">Login</a>
                        </li>
                        {% endif %}
                             
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->
      
         <!--<form method="post" action="/upload" class="dropzone" id="myDropzone" enctype='multipart/form-data'>

           <label>Username:<input type="text" name="uname"/> </label>
           <label>Password:<input type="text" name="pass"/> </label>
           <div id="dropzonePreview"></div>
           <input type="button" id="sbmtbtn" value="submit"/>-->
        

      </form>
        
        <form action="/upload" enctype="multipart/form-data" method="POST" id="myDropzone" class="dropzone">
                 <div id="dropzonePreview"></div>
 
            <input type="text" name="title" value="{{ article.title }}" placeholder="Enter the title" class="form-control" id="title">
       
     
            <textarea rows="5" name="body" placeholder="Enter the article description" id="desc" cols="30" rows="10" class="form-control">{{ article.body }}</textarea>
   

        
            <input type="text" name="tags" value="{{ article.tags }}" placeholder="Enter the tags" class="form-control" id="tags">
    
        
    <button type="submit" id="submit-all"> upload </button>
</form>
        
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js1/plugins/canvas-to-blob.min.js" type="text/javascript"></script>
    <script src="/js1/fileinput.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/jquery.prettyPhoto.js"></script>
    <script src="/js/jquery.isotope.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.tagsinput.min.js"></script>

    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->       
       
    
</body>

</html>